#Problem 18: Maximum path sum I

By starting at the top of the triangle below and moving to adjacent numbers on the row below, the maximum total from top to bottom is 23.

    3
    7 4
    2 4 6
    8 5 9 3

That is, $ 3 + 7 + 4 + 9 = 23 $

Find the maximum total from top to bottom of the triangle below:

    75
    95 64
    17 47 82
    18 35 87 10
    20 04 82 47 65
    19 01 23 75 03 34
    88 02 77 73 07 63 67
    99 65 04 28 06 16 70 92
    41 41 26 56 83 40 80 70 33
    41 48 72 33 47 32 37 16 94 29
    53 71 44 65 25 43 91 52 97 51 14
    70 11 33 28 77 73 17 78 39 68 17 57
    91 71 52 38 17 14 91 43 58 50 27 29 48
    63 66 04 68 89 53 67 30 73 16 69 87 40 31
    04 62 98 27 23 09 70 98 73 93 38 53 60 04 23

*NOTE: As there are only 16384 routes, it is possible to solve this problem by trying every route. However, Problem 67, is the same challenge with a triangle containing one-hundred rows; it cannot be solved by brute force, and requires a clever method! ;o)*

In [1]:
import pandas as pd
import io

In [2]:
triangle_s = """
75
95 64
17 47 82
18 35 87 10
20 04 82 47 65
19 01 23 75 03 34
88 02 77 73 07 63 67
99 65 04 28 06 16 70 92
41 41 26 56 83 40 80 70 33
41 48 72 33 47 32 37 16 94 29
53 71 44 65 25 43 91 52 97 51 14
70 11 33 28 77 73 17 78 39 68 17 57
91 71 52 38 17 14 91 43 58 50 27 29 48
63 66 04 68 89 53 67 30 73 16 69 87 40 31
04 62 98 27 23 09 70 98 73 93 38 53 60 04 23
"""
# need to check last row to get the full column count
last_row = '04 62 98 27 23 09 70 98 73 93 38 53 60 04 23'
last_row = pd.read_table(io.StringIO(unicode(last_row)), delim_whitespace=True, header=None)

col_names = []
for i in range(len(last_row.columns)):
    col_names.append(i)

# now read in data
df = pd.read_table(io.StringIO(unicode(triangle_s)), delim_whitespace=True, header=None, names=col_names)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,95,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17,47.0,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18,35.0,87.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,4.0,82.0,47.0,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,19,1.0,23.0,75.0,3.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,88,2.0,77.0,73.0,7.0,63.0,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,99,65.0,4.0,28.0,6.0,16.0,70.0,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,41,41.0,26.0,56.0,83.0,40.0,80.0,70.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN
9,41,48.0,72.0,33.0,47.0,32.0,37.0,16.0,94.0,29.0,NaN,NaN,NaN,NaN,NaN
10,53,71.0,44.0,65.0,25.0,43.0,91.0,52.0,97.0,51.0,14.0,NaN,NaN,NaN,NaN
11,70,11.0,33.0,28.0,77.0,73.0,17.0,78.0,39.0,68.0,17.0,57.0,NaN,NaN,NaN
12,91,71.0,52.0,38.0,17.0,14.0,91.0,43.0,58.0,50.0,27.0,29.0,48.0,NaN,NaN
13,63,66.0,4.0,68.0,89.0,53.0,67.0,30.0,73.0,16.0,69.0,87.0,40.0,31.0,NaN
14,4,62.0,98.0,27.0,23.0,9.0,70.0,98.0,73.0,93.0,38.0,53.0,60.0,4.0,23.0

In [3]:
def maximum_path_finder(triangle_df, col=0, row=0):
    '''recursive function that finds the sum series of adjacent numbers that leads to the maximum sum from top to bottom'''
    running_sum = triangle_df[col][row]
    
    # if final row, then return the cell value as a stopping condition
    if (row + 1 == len(triangle_df)):
        return triangle_df[col][row]
    
    else:
        running_sum += max(maximum_path_finder(triangle_df, col, row + 1), maximum_path_finder(triangle_df, col + 1, row + 1))
        return running_sum

In [4]:
maximum_path_finder(df,0,0)

1074.0