#Problem 5: Smallest multiple

2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.

What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?

In [1]:
import numpy as np
import pandas as pd

In [2]:
# import prime factorizor
from euler_helper_functions import prime_factorization

# test function
prime_factorization(20)

[2, 2, 5]

In [3]:
prime_factors = []

for i in xrange(2,21):
    prime_factors.append(prime_factorization(i))
    
prime_factors

[[2],
 [3],
 [2, 2],
 [5],
 [2, 3],
 [7],
 [2, 2, 2],
 [3, 3],
 [2, 5],
 [11],
 [2, 2, 3],
 [13],
 [2, 7],
 [3, 5],
 [2, 2, 2, 2],
 [17],
 [2, 3, 3],
 [19],
 [2, 2, 5]]

In [4]:
decomposed_primes = pd.DataFrame(pd.Series(prime_factors[0]).value_counts(), columns = ["decomp_occurances"])

for i in xrange(1, len(prime_factors)):
    temp_df = pd.DataFrame(pd.Series(prime_factors[i]).value_counts(), columns = ["decomp_occurances"])
    decomposed_primes = pd.concat([decomposed_primes, temp_df], axis = 0)

decomposed_primes["prime_num"] = decomposed_primes.index.get_values()
decomposed_primes.reset_index(drop=True, inplace=True)
decomposed_primes

    decomp_occurances  prime_num
0                   1          2
1                   1          3
2                   2          2
3                   1          5
4                   1          3
5                   1          2
6                   1          7
7                   3          2
8                   2          3
9                   1          2
10                  1          5
11                  1         11
12                  2          2
13                  1          3
14                  1         13
15                  1          7
16                  1          2
17                  1          3
18                  1          5
19                  4          2
20                  1         17
21                  2          3
22                  1          2
23                  1         19
24                  2          2
25                  1          5

In [5]:
unique_prime_factors = decomposed_primes.groupby(["prime_num"]).max()
unique_prime_factors["prime_num"] = unique_prime_factors.index.get_values()

unique_prime_factors["factors"] = unique_prime_factors.prime_num ** unique_prime_factors.decomp_occurances
unique_prime_factors

           decomp_occurances  prime_num  factors
prime_num
2                          4          2       16
3                          2          3        9
5                          1          5        5
7                          1          7        7
11                         1         11       11
13                         1         13       13
17                         1         17       17
19                         1         19       19

In [6]:
np.prod(unique_prime_factors.factors)

232792560

##Brute force method

I think this solution is pretty funny...

In [7]:
check = False
i = 20

while (check == False):
    if (i % 20 == 0):
        if (i % 19 == 0):
            if (i % 18 == 0):
                if (i % 17 == 0):
                    if (i % 16 == 0):
                        if (i % 15 == 0):
                            if (i % 14 == 0):
                                if (i % 13 == 0):
                                    if (i % 12 == 0):
                                        if (i % 11 == 0):
                                            print i
                                            check = True
    i += 1

232792560