#Problem 5: Smallest multiple

2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.

What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?

In [57]:
import numpy as np
import pandas as pd

In [1]:
def prime_factorization(n):
    '''function that returns a list of prime factors of a given number'''
    prime_factors = []
    i = 2
    
    while (n > 1):
        while (n % i == 0):
            prime_factors.append(i)
            n = n / i
        i += 1
    
    return prime_factors
            
# test function
prime_factorization(13195)

[5, 7, 13, 29]

In [58]:
prime_factors = []

for i in xrange(2,11):
    prime_factors.append(prime_factorization(i))
    
prime_factors

[[2], [3], [2, 2], [5], [2, 3], [7], [2, 2, 2], [3, 3], [2, 5]]

In [52]:
decomposed_primes = pd.DataFrame(pd.Series(prime_factors[0]).value_counts(), columns = ["decomp_occurances"])

for i in xrange(1, len(prime_factors)):
    temp_df = pd.DataFrame(pd.Series(prime_factors[i]).value_counts(), columns = ["decomp_occurances"])
    decomposed_primes = pd.concat([decomposed_primes, temp_df], axis = 0)

decomposed_primes["prime_num"] = decomposed_primes.index.get_values()
decomposed_primes.reset_index(drop=True, inplace=True)
decomposed_primes

    decomp_occurances  prime_num
0                   1          2
1                   1          3
2                   2          2
3                   1          5
4                   1          3
5                   1          2
6                   1          7
7                   3          2
8                   2          3
9                   1          2
10                  1          5

In [66]:
unique_prime_factors = decomposed_primes.groupby(["prime_num"]).max()
unique_prime_factors["prime_num"] = unique_prime_factors.index.get_values()

unique_prime_factors["factors"] = unique_prime_factors.prime_num ** unique_prime_factors.decomp_occurances
unique_prime_factors

           decomp_occurances  prime_num  factors
prime_num
2                          3          2        8
3                          2          3        9
5                          1          5        5
7                          1          7        7

In [67]:
np.prod(unique_prime_factors.factors)

2520

##Brute force method

I think this solution is pretty funny...

In [25]:
check = False
i = 20

while (check == False):
    if (i % 20 == 0):
        if (i % 19 == 0):
            if (i % 18 == 0):
                if (i % 17 == 0):
                    if (i % 16 == 0):
                        if (i % 15 == 0):
                            if (i % 14 == 0):
                                if (i % 13 == 0):
                                    if (i % 12 == 0):
                                        if (i % 11 == 0):
                                            print i
                                            check = True
    i += 1

232792560